@model  Svatovi.Areas.Identity.Data.SvatoviUser  
@using Svatovi.Areas.Identity.Data 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider CSS</title>

    <link rel="stylesheet" href="~/css/login.css">
</head>
 
 
    <title>Prijava</title>
 
<body>
      

    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color: red;">@ViewBag.ErrorMessage</div>
    }
    <div class="describe">
        <p2>
            Dragi naši gosti,
            Toplo vas pozdravljamo i dobro dobrodošli na našu svečanost! Danas je poseban dan pun ljubavi, sreće i radosti, a vaš dolazak čini ovaj trenutak još posebnijim.
            Hvala vam što ste odvojili vrijeme i došli da s nama proslavite početak naše zajedničke budućnosti.
            Svaka vaša riječ, osmijeh i zagrljaj čini ovaj dan nezaboravnim.
            Neka ova svadba bude prilika za novu ljubav, prijateljstvo i sjećanja koja će trajati cijeli život.
            Želimo vam da se opustite, uživate u svakom trenutku i budete dio naše priče.
            Hvala vam što ste danas ovdje s nama. Neka ljubav uvijek bude putokaz u vašim životima.
            S ljubavlju, Melani i Ante
        </p2>
    </div>
    
    <form method="post" action="/Login">
        <div class="login-container">
            <label for="name">Korisničko ime:</label>
            <input type="text" id="name" name="name" required>             
            <button type="submit">Prijavi se</button>
           
        </div>
         
        
    </form>

</body>


