@model  Svatovi.Areas.Identity.Data.SvatoviUser  
@using Svatovi.Areas.Identity.Data 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider CSS</title>

    <link rel="stylesheet" href="~/css/login.css">
</head>
 
 
    <title>Prijava</title>
 
<body>
      

    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color: red;">@ViewBag.ErrorMessage</div>
    }
    <div class="describe">
        <p2>
            Pravila ponašanja prilikom stavljanja slika!
        </p2>
    </div>
    
    <form method="post" action="/Login">
        <div class="login-container">
            <label for="name">Korisničko ime:</label>
            <input type="text" id="name" name="name" required>      
                   
        </div>
         <div class="button">
            <button type="submit">Prijavi se</button>
         </div>
        
    </form>

</body>


