<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <!--<system.webServer>
    <handlers>
         <remove name="aspNetCore"/>
         <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
     </handlers>
            <aspNetCore processPath="C:\Users\Korisnik\source\repos\Svatovi\Svatovi\bin\Debug\net8.0\Svatovi.dll" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>-->
	<!--<connectionStrings>
		<add name="MyConnectionString" connectionString="Server=tcp:svatovi.database.windows.net,1433;Initial Catalog=sqlserver-svatovi-001;Persist Security Info=False;User ID=marija;Password=Kusevac13&amp;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>-->
	<appSettings>
		<add key="Environment" value="Development" />
	</appSettings>
</configuration>