@model Svatovi.Models.ImagessModel

@{
    ViewData["Title"] = "Create";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="~/css/image.css">
</head>

<header>
    <h1>Dobrodošli!</h1>
    <p>Podijelite svoje čestitke i slike.</p>
</header>

<body>

     <div class="row">  
        <div class="col-md-4">  
            <form method="post" enctype="multipart/form-data" asp-action="AddNewImage" asp-controller="Imagesses">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="comment">
                    @* <label asp-for="Coment" class="control-label"></label> *@
                    <input asp-for="Coment" placeholder="Vaša čestitka" class="form-control" />
                    <span asp-validation-for="Coment" class="text-danger"></span>
                </div>
                <div class="comment">
                  
                        <label class="col-form-label">Odaberi sliku</label>
                        <input asp-for="Imagefile" class="form-control" />
                        <span asp-validation-for="Imagefile" class="text-danger"></span>
               
                </div>
             @*    <body> *@
               @*  <div class="button"> *@

                     <button type="submit">Pošalji čestitku</button>
               @*  </div> *@
             @*    </body> *@
            </form>
          </div>  
     </div>  

    <script src="script.js"></script>
</body>

 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}