﻿@{
    ViewData["Title"] = "All image";
}
@model IEnumerable<ImagessModel>

<div class="container">
    <h3 class="display-4">All image</h3>
    <div class="row">

        @foreach (var imagess in Model)
        {
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="@imagess" />
            </div>
        }

    </div>
</div>
