@model IEnumerable<ImagessModel>

@{
    ViewData["Title"] = "Index";

}
 
<div class="card-container">
     
                     @foreach (var item in Model) {              
              
                         if (item.GalleryModels != null)
                        {
            <div class="card">
@*                  <div class="free-image">  
 *@                <div class="image">
                    <a href="image-guest/@item.Id">
                    <img src="@item.GalleryModels[0].URL" alt="@item.GalleryModels[0].Name">
                    </a>
                    <div class="card-content">
                        <p>@item.Coment  </p>
                               
                    </div>
                            
                @* </div> *@
            </div>
            </div>
                      }        
                  }

</div>


