@model IEnumerable<ImagessModel>

@{
    ViewData["Title"] = "Index";

}


 
 
  <section>  
    <tbody>
        @foreach (var item in Model)
        {
             
                 
                    <div class="gallery-images">
                        @if (item.GalleryModels != null)
                        {
                            @foreach (var image in item.GalleryModels)
                            {
                                @* <img src="@image.URL" alt="@image.Name" style="width:50%; height:11em; border-radius:1rem;" />  *@

                    <div class="card" style="width:50%;  height: 50%;margin: 10px 0;">
	
	
	
                                    <img src="@image.URL" class="card-img-top">
                                    <div class="card-body">

                                        <p class="card-text"> @item.Coment  </p>
                                         
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <p>no image</p>
                        }
                    </div>
 

                 
            
        }
    </tbody>
</section> 