@model IEnumerable<ImagessModel>

@{
    ViewData["Title"] = "Index";

}


 
 
 <figure>
   
        @foreach (var item in Model)
        {        
              
          if (item.GalleryModels != null)
                        {
                            <img src="@item.GalleryModels[0].URL" alt="@item.GalleryModels[0].Name">
                <p class="card-text"> @item.Coment  </p>
                        }
                                   
                                                    
                                              
                  
                           
        }
    
</figure>

