@model IEnumerable<ImagessModel>

@{
    ViewData["Title"] = "Index";

}


 
 
 <section>  
    <tbody>
        @foreach (var item in Model)
        {
             
                 
                    <div class="gallery-images">
                        @if (item.GalleryModels != null)
                        {
                            <img class="d-block w-100" src="@item.GalleryModels[0].URL" alt="@item.GalleryModels[0].Name">
                        }
                                   
                                    <div class="card-body">

                                        <p class="card-text"> @item.Coment  </p>
                                         
                                    </div>                             
                                              
                    </div>
                           
        }
    </tbody>
</section>    

