.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.describe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
