* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgba(25, 79, 58, 0.8);

}

body {
    background-image: url('/image/frame/1.jpg');
    background-size:auto;
    background-position: center;
    position: relative;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
}

.card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    min-height: 308px;
    padding: 3px;
    border-radius: 1.2em;
    background: var(--bgcolor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

    .card img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 308px;
        opacity: 1;
        padding: 40px 25px;
        border-radius: 1em;
        border-top-left-radius: 0;
        box-shadow: -5px -5px 20px rgb(255, 255, 255), 5px 5px 20px rgba(0, 0, 0, 0.15);
    }

.card-content {
      max-height: 5em;
    overflow: hidden;
    text-overflow:ellipsis;
 
} 
.img {
    background: #fff;
    position: relative;
    display: block;
    width: 88%;
    height: auto;
    padding: 6%;
    box-shadow: inset 0px .3em .1em rgba(0,0,0,0.2);
}
