* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgba(25, 79, 58, 0.8);    
/*    text-shadow: rgba(25, 79, 58, 0.8);
*/}
body {
/*    background-image: url('/image/frame/AdobeStock_309925647_Preview.jpeg');
*/}
.card-container {
/*    background-image: url(/image/frame/pexels-jess-bailey-designs-2736613.jpg);
*/    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
     
}
.card {
    /*width: 335px;*/
    /*    background-image: url(/image/frame/240_F_430707962_fcrgGGyNClzu4OXKZIc1A3bMp3107ygd.jpg);
*/ /*background-color:aqua;*/
    /*background-image: url('/image/frame/AdobeStock_309925647_Preview.jpeg');
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 4px 4px #1c2b37;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    min-height: 308px;
    padding: 3px;
    border-radius: 1.2em;
    background: var(--bgcolor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
    .card img {
        /*background-image: url(/image/frame/POZADINA.jpg);*/
        /*position: relative;*/
        /*display: block;*/
        /*width: 100%;
        height: auto;
        padding: 6%;
        box-shadow: inset 0px .3em .1em rgba(0,0,0,.2);
        border-radius: 8px;
         */
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 308px;
        opacity: 1;
        padding: 40px 25px;
        border-radius: 1em;
        border-top-left-radius: 0;
        box-shadow: -5px -5px 20px rgb(255, 255, 255), 5px 5px 20px rgba(0, 0, 0, 0.15);
    }
.card-content {
    overflow: hidden;
    max-height: 5em;
    text-overflow: ellipsis;
     
} 
 
/*.card image {
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px
}*/

/*.body {
    margin-bottom: 60px;
}*/

/*body {
    font-family: 'Oswald', sans-serif;
    */ /*background-image: url("../image/frame/240_F_430707962_fcrgGGyNClzu4OXKZIc1A3bMp3107ygd.jpg");
    background-attachment: fixed;
    background-size: cover;
    section*/

/*{
    width: 90%;
    max-width: 20px;
    margin: 0 auto;
    .row

{
    align-items: center;
    height: 100vh;
}
figure {
    position: absolute;
    display: block;
    width: 400px;
    margin: 100px auto;
    top: 25%;
    left: 50%;
    margin: 0 0 0 -200px;

}*/
 
.img {
        background: #fff;
        position: relative;
        display: block;
        width: 88%;
        height: auto;
        padding: 6%;
        box-shadow: inset 0px .3em .1em rgba(0,0,0,0.2);
    }

