* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-img {
    display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
     margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px
}

.img-card-1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    min-height: 308px;
    padding: 3px;
    border-radius: 1.2em;
    background: var(--bgcolor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
    .img-card-1 img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 308px;
        opacity: 1;
        padding: 40px 25px;
         border-radius: 1em;
        border-top-left-radius: 0;
        box-shadow: -5px -5px 20px rgb(255, 255, 255), 5px 5px 20px rgba(0, 0, 0, 0.15);
    }
/*.card-content-img {
            overflow: hidden;   
            max-height: 20em;  
            text-overflow: ellipsis;
  
}*/

/*.card-img image-img {
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}*/


.card-content-img p {
     font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     
}

 

 

 
 
