@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline CSS</title>

    <link rel="stylesheet" href="~/css/time.css">
</head>
<div class="intro">
    <h1>POČETAK JEDNE DIVNE PRIČE</h1>
</div>
<main>
    <article class="stop">
        <div class="text">
            <header>
                <time>2000</time> POČETAK
            </header>
            <p>BEČ.</p>
            <img src="/image/timeline/1.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1951</time> 
            </header>
            <p>.</p>
            <img src="/image/timeline/2.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1956</time> 
            </header>
            <p>.</p>
            <img src="/image/timeline/3.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1967</time> 
            </header>
            <p>.</p>
            <img src="/image/timeline/3.jpg" alt="" /4
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1971</time> 
            </header>
            <p>.</p>
            <img src="/image/timeline/5.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1980</time> 
            <p>.</p>
            <img src="/image/timeline/6.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1984</time> 
            </header>
            <p>.</p>
            <img src="/image/timeline/7.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1994</time>  
            </header>
            <p>.</p>
            <img src="/image/timeline/8.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>1995</time> - 
            </header>
            <p>.</p>
            <img src="/image/timeline/9.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>2000</time> 
            </header>
            <p>.</p>
            <img src="/image/timeline/10.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>2003</time>  
            </header>
            <p> .</p>
            <img src="/image/timeline/11.jpg" alt="" />
        </div>
    </article>
    <article class="stop">
        <div class="text">
            <header>
                <time>2007</time>  
            </header>
            <p>-.</p>
            <img src="/image/timeline/12.jpg" alt="" />
        </div>
    </article>
</main>
